* {
  margin: 5px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body {
  background-image: url(image/y-so-serious-white.png);
  background-repeat: repeat;
}

div.container1 {
  width: 100%;
  border-bottom: 2px solid black;
  padding: 10px 0px 10px 10px;
  display: flex;
}

div.bag1 {
  display: flex;
}

div.imgwrp {
  background-color: azure;
  width: 250px;
  height: 250px;
  box-shadow: 5px 5px 25px grey;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.imgblt {
  border-radius: 50%;
}

div.bag2 {
  padding-left: 30px;
  width: 100%;
  display: flex;
}

.ket {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ket h1,
h1 {
  font-size: 40px;
}

/* About me */

div.containertentang {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(image/y-so-serious.png);
  width: 95%;
  opacity: 1;
  border-radius: 10px;
  padding: 10px;
}

.containertentang h2,
p {
  color: white;
}
.containertentang p {
  text-indent: 50px;
  font-size: 20px;
}

/* Profil Diri */
div.containerprofil {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: rgb(63, 0, 237); */
  background-image: url(image/y-so-serious.png);
  width: 95%;
  border-radius: 10px;
  padding: 10px;
}

.containerprofil h2,
p {
  display: inline;
  color: white;
}
.containerprofil li {
  color: white;
  font-size: 30px;
}
.profil {
  display: flex;
}

.profil1 {
  width: 40%;
}
.profil2 {
  width: 60%;
  list-style-type: none;
}

/* Pendidikan */
div.containerpendidikan {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(image/y-so-serious.png);
  width: 95%;
  opacity: 1;
  border-radius: 10px;
  padding: 10px;
}

.containerpendidikan h2 {
  color: white;
}

.containerpendidikan ol {
  padding-left: 10px;
}
.containerpendidikan li {
  color: white;
}

/* Kontak */
.containerkontak {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(image/y-so-serious.png);
  width: 95%;
  opacity: 1;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.iconwa {
  font-size: 30px;
  background-color: #25d366;
  border-radius: 10px;
  transition: 0.5s;
}
.containerkontak h3 {
  color: white;
}

.iconig {
  font-size: 30px;
  background-color: #e4405f;
  border-radius: 10px;
  transition: 0.5s;
}

.iconwa:hover {
  font-size: 40px;
  background-color: #65df92;
  border-radius: 10px;
}

.iconig:hover {
  font-size: 40px;
  background-color: #ec8296;
  border-radius: 10px;
}
